.container{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px 20px;
    width: 350px;
    
}

.text{
    display: flex;
}
.text1{
    border: 1px solid;
    min-height: 700px;
    
}

.text2{
    border: 1px solid;
    min-height: 700px;
    
}

.input{
    display: flex;
}